<html>
  <head>
    <style>
      li {
        color: #ffe4c4;
        text-shadow: 2px 2px rgba(28, 34, 28);
      }

    </style>
  </head>
  <body background="/src-static/images/Sandstone_(Windows_95).png">
    <h1>W</h1>

    <div>
      <ul>
        <li>Transportation</li>
          <li>Warehouse</li>
          <li>Fleet Management</li>
            <li>Dispatch</li>
            <li>Drive</li>
            <li>Update</li>
            <li>Log.Terminal.History</li>
            <li>Central Message Archive. Input/Output</li>
            <li>POS: Multi-Func</li>
            <li>Amazon Market - "walk-in . autoPay . walk-out / simply take any item - system knows what you purchased... </li>
            <li>Sensor Area Network | Capstone, Body Area Sensor Network</li>
            <li>katalyst | Influencers.factBook || Social Data >> cat|org|parse|database >> Booking.service. </li>
      </ul>
      </div>
      <div>
        <notes>
          <h2>Notes</h2>
          <note-text>
            <ul><!--idc-->
              <li> -- Create a sensing area network in 3D Space ' x, y, z ' </li>
              <li> -- Create a object to mapped location in 3D Space </li>
              <li> -- Create object index - to relate to sensing area network </li>
              <li> -- Create Rendering mapper to display change </li>
              <li> -- omni antenna as sensor nodes array as sensor area network</li>
              <li> -- Camera / omni fov camera as sensor array. </li>
             </ul>
          </note-text>
        </notes>
      </div>
  </body>
  <footer></footer>
</html>
